/* style navbar */
nav a  {
    font-size: larger;
    font-weight: 400;
}

/* style jumbotron */
.jumbotron {
    background-image: url(images/slider1.jpg);
    height: 750px;
    text-align: center;
    background-size: cover;
    margin-top: -120px;
}
.jumbotron .welcome {
    color: #fff;
    margin-top: 230px;
}
.jumbotron .desc {
    margin-top: 30px;
}
.jumbotron p {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 300;
    color: #fff;
}
.jumbotron hr {
    border-color: rgb(225, 238, 48);
    width: 100px;
    border-width: 3px;
}
.jumbotron .btn {
    background-color: rgb(225, 238, 48);
    border: none;
    border-radius: 25px;
    color: black;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 40px;
}

/* sty;e carrousel */
.carousel-item {
    height: 670px;
    margin-top: -35px;
}
.carousel-item .welcome {
    margin-top: -385px;
}
.carousel-item  p {
    font-size: 25px;
    font-weight: 300;
    color: #fff;
}
.carousel-item  .name {
    padding-top: 35px;
}
.carousel-item  hr {
    border-color: rgb(225, 238, 48);
    width: 100px;
    border-width: 3px;
}
.carousel-item .btn {
    background-color: rgb(225, 238, 48);
    border: none;
    border-radius: 25px;
    color: black;
    padding-right: 25px;
    padding-left: 25px;
}
/* style untuk font-awesome pada navbar */
.fa-youtube {
    font-size: 32px;
    color: #ff1a1a;
}
.fa-facebook {
    font-size: 30px;
    color: #1a1aff;
}
.fa-twitter {
    font-size: 30px;
    color: #3385ff;
}
.fa-search {
    font-size: 25px;
}

/* style untuk grid system */
.foto-oned img {
    height: 30em;
}

/* style untuk form login */
#form-login {
    background-image: linear-gradient(135deg,rgb(235, 233, 217) 80%, rgb(214, 184, 187) 100%);
    height: 100vh;
}
.container-login {
    width: 30%;
    margin-top: 9%;
    padding: 5%;
    box-shadow: 0 3px 20px rgba(0,0,0,0.1);
    background-image: linear-gradient(135deg, rgb(214, 184, 187)  100%,rgb(235, 233, 217) 80%);
}
.container-login .btn {
    width: 50%;
    text-align: center;
    background-color: rgb(83, 67, 67);
    color: #fff;
}
.container-login hr {
    color: #fff;
    width: 40%;
    border-width: 3px;
}